<%= form_with model: @chat do |form| %>
  <div>
    <label>Sender</label>
    <input type="text" value="<%= current_user.email %>" disabled>
  </div>

  <div>
    <%= form.label :receiver_id, "Receiver" %>
    <%= form.select :receiver_id, User.where.not(id: current_user.id).pluck(:email, :id), prompt: "Select Receiver" %>
  </div>

  <div>
    <%= form.submit "Save" %>
  </div>
<% end %>
