<h1>Chat Details</h1>
<p>
  <strong>Chat ID:</strong>
  <%= @chat.id %>
</p>
<p>
  <strong>Sender ID:</strong>
  <%= @chat.sender_id %>
</p>
<p>
  <strong>Reciever ID:</strong>
  <%= @chat.receiver_id %>
</p>
<p>
  <%= link_to 'Edit Chat', edit_chat_path(@chat), class: 'btn btn-outline-primary btn-sm' %>
</p>
<%= link_to 'Back to Chats', chats_path %>